{% extends 'base.html.twig' %}

{% block title %}New InfosClient{% endblock %}

{% block body %}

<div class ="container-fluid bg-dark pb-5 p-3">

    <div class="container bg-light p-3 rounded">

        <h2 class="mt-3 mb-5 text-center">Booking Confirmation</h2>
        {# read and display just one flash message type #}

        {# read and display several types of flash messages #}
        {% for message in app.flashes('success') %}
            <div class="row justify-content-center">
                <div class="col-md-6 text-center flash-success bg-success-subtle border rounded shadow p-3 mb-3">
                    <div>
                        {{ message|trans }}
                    </div>
                </div>
            </div>
        {% endfor %}
            

        <div class="row justify-content-center">
            <div class="col-md-6 text-danger text-center bg-light border rounded shadow p-3 mb-3">
                <p> 
                    <b>{% trans %}The driver will pick you up on {% endtrans %} {{ infosClient.day|format_date('full') }}</b>
                </p>
                <p>
                    <b>{% trans %}Meeting point{% endtrans %}: {{ infosClient.bus.location|trans }}, {{ infosClient.bus.hotel }} <br>
                    {% trans %}at{% endtrans %} {{ infosClient.bus.hour|date("H:i") }}</b>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ul class="list-group list-group-flush rounded">
                    <li class="py-3 list-group-item rounded shadow"><u>{% trans %}Name{% endtrans %}:</u> {{ infosClient.name }} </li>
                    <li class="py-3 list-group-item rounded shadow"><u>Whats'App:</u>  {{ infosClient.formatedCodeAndPhone }}</li>
                    <li class="py-3 list-group-item rounded shadow"><u>{% trans %}Number of seats{% endtrans %}:</u>  {{ infosClient.numberPersons }} place(s)</li>
                    <li class="py-3 list-group-item rounded shadow"><u>{% trans %}Hotel{% endtrans %}:</u>  {{ infosClient.bus.hotel }}</li>
                    <li class="py-3 list-group-item rounded shadow"><u>{% trans %}Room Number{% endtrans %}:</u>  {{ infosClient.roomNumber }} </li>
                </ul>   
            </div>
        </div>
    </div>

</div>
{% endblock %}

