{% extends 'base.html.twig' %}

{% block title %}New InfosClient{% endblock %}

{% block body %}

<div class="container">
    <h1 class ="text-center my-3">Enter your information</h1>


    {{ form_start(form)  }}

        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="">
           {{ form_row(form.bus) }}

        </div>
        <div class="text-center">
           {{ form_row(form.nextStep) }}
        </div>

        <div class="">
           {{ form_row(form.day) }}
        </div>


        <div class="text-center">
           {{ form_row(form.lastStep) }}
        </div>
        <div class="">
           {{ form_row(form.name) }}
        </div>
        <div class="">
           {{ form_row(form.numberPersons) }}
        </div>
        <div class="">
           {{ form_row(form.roomNumber) }}
        </div>
        <div class="">
           {{ form_row(form.whatsAppNumber) }}
        </div>
        <div class="text-center">
           {{ form_row(form.validate) }}
        </div>

    {{ form_end(form) }}
        </div>




    {# {{ include('infos_client/_form.html.twig') }} #}

{#     <a href="{{ path('app_infos_client_index') }}" class="btn btn-primary">back to list</a>
 #}</div>
{% endblock %}
